.card__inputs {
    max-width: 816px;
    min-height: 812px;
    padding: 40px;

    @media (width < 992px) and (width > 576px) {
        min-height: fit-content;
    }

    @media (width < 576px) {
        padding: 15px;
        max-width: 95vw;
    }
}

.header-text {
    font-weight: 600;
    text-align: start;
}
