<div class="flex flex-col lg:flex-row justify-between gap-5 xl:gap-10">
    <main class="flex items-center flex-col lg:flex-row gap-10">
        <article class="card card__inputs">
            <div>
                <div class="pb-10">
                    <img src="svg/logo-card-header.svg" alt="Outline of a house in blue">

                </div>

                <div class="flex flex-col gap-8">
                    <p class="header-text text-[24px] text-primary">Your Mortgage</p>
                    <h1 class="header-text text-[40px] text-primary">Calculate Your Mortgage</h1>

                    <form [formGroup]="form">
                        <div class="flex gap-4 xl:gap-9 flex-wrap">
                            <app-input formControlName="borrowingAmount" label="Borrowing Amount" [required]="true"
                                iconLabel="svg/question-icon.svg"
                                altIconLabel="White question mark on a gray background" iconInput="svg/euro-icon.svg"
                                altIconInput="Euro icon" inputClass="euro-icon" />

                            <app-input formControlName="purchasePrice" label="Purchase Price" [required]="true"
                                iconLabel="svg/question-icon.svg"
                                altIconLabel="White question mark on a gray background" iconInput="svg/euro-icon.svg"
                                altIconInput="Euro icon" inputClass="euro-icon" />

                            <app-select (optionChosen)="setpreferredRepaymentPeriod($event)" />

                            <app-input formControlName="grossIncome" label="Gross Household Income" [required]="true"
                                iconLabel="svg/question-icon.svg"
                                altIconLabel="White question mark on a gray background" iconInput="svg/euro-icon.svg"
                                altIconInput="Euro icon" inputClass="euro-icon" />

                            <app-input formControlName="interestRate" label="Interest Rate" [required]="true"
                                iconLabel="svg/question-icon.svg"
                                altIconLabel="White question mark on a gray background" iconInput="svg/percentage.svg"
                                altIconInput="Euro icon" inputClass="percentage-icon" />
                        </div>
                    </form>
                </div>
            </div>
        </article>

        <app-card-calculation />
    </main>

    <aside class="flex flex-col items-center gap-5 pt-5 md:p-0 md:gap-10 order-first lg:order-1">
        <button class="btn btn-circle btn-primary">
            <svg class="h-5 w-5 text-blue-100" xmlns=" http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>

        <div class="nav-tracker">
            @for (item of navigationTrackerItems; track $index) {
            <div class="nav-tracker__item nav-tracker__item--{{ $index === selectedNavigationItem ? 'active' : 'inactive' }}"
                (click)="onSelectedItem($index)">
            </div>
            }
        </div>
    </aside>
</div>