<label class="w-full max-w-xs">
    <div class="flex gap-2 items-center mb-4">
        <img [src]="iconLabel()" [alt]="altIconLabel()">
        <span class="text-primary text-sm md:text-base">{{ label() }}</span>
        <span class="text-secondary text-sm md:text-base">{{ required() ? 'Required' : '' }}</span>
    </div>

    <div class="relative">
        <img [class]="inputClass()" [src]="iconInput()" [alt]="altIconInput()">
    </div>
    <input class="input input-primary w-full max-w-xs text-lg" [class.ps-10]="inputClass() === 'euro-icon'" type="text"
        mask="separator.2" thousandSeparator="," [formControl]="controlInput" (focus)="onTouch?.()" />
</label>