.card__calculation {
    max-width: 456px;
    height: 441px;
    padding: 24px;

    &--info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 65px;
        width: 122.67px;
        padding: 12px;
        border-radius: 8px;
        background-color: #f3f7ff;

        @media (width <= 1124px) {
            flex-grow: 1;
        }
    }

    @media (width <= 1420px) {
        padding: 15px;
    }

    @media (width < 576px) {
        max-width: 95vw;
    }
}
