.bg-image {
    border-radius: 12px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("src/assets/images/bg-image.png");

    /* @media queries */
    @media (width > 1500px) {
        max-height: 960px;
        max-width: 1440px;
    }
}
