.card {
    padding: 40px;
    border-radius: 24px;
    background-color: #fff;
    box-shadow: 0px 10px 16px 0px #000f3314;
}

.card__main {
    width: 816px;
    height: 812px;
}

.card__aside {
    width: 456px;
    height: 441px;
}

.nav-tracker {
    display: flex;
    gap: 12px;
    align-items: center;
    flex-direction: column;

    width: 24px;
    height: 580px;
    padding: 8px;
}

.nav-tracker__item {
    width: 8px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
}

.nav-tracker__item--active {
    background-color: #194dfa;
}

.nav-tracker__item--inactive {
    background-color: #194dfa;
    opacity: 25%;
}

/* @media queries */
@media (width < 820px) {
    .card {
        padding: 10px;
    }

    .card__main {
        max-height: 45vh;
        max-width: 80vw;
    }

    .card__aside {
        max-height: 30vh;
        max-width: 80vw;
    }
}

@media (width >= 820px) and (width < 1024px) {
    .card {
        padding: 10px;
    }

    .card__main {
        max-height: 35vh;
        max-width: 50vw;
    }

    .card__aside {
        max-height: 30vh;
        max-width: 38vw;
    }
}

@media (width >= 1024px) and (width < 1460px) {
    .card {
        padding: 10px;
    }

    .card__main {
        max-height: 40vh;
        max-width: 50vw;
    }

    .card__aside {
        max-height: 30vh;
        max-width: 39vw;
    }
}

@media (width >= 1460px) {
    .card {
        padding: 10px;
    }

    .card__main {
        max-height: 40vh;
        max-width: 80vw;
    }

    .card__aside {
        max-height: 30vh;
        max-width: 80vw;
    }
}
