<div class="flex flex-col lg:flex-row justify-between 2xl:justify-start gap-5 xl:gap-10">
    <main class="flex items-center flex-col lg:flex-row gap-10 p-3">
        <article class="card card__main">
            <div>
                <div class="pb-10">
                    <img src="svg/logo-card-header.svg" alt="Outline of a house in blue">

                </div>

                <div class="flex flex-col gap-8">
                    <p class="header-text text-[24px] text-primary">Your Mortgage</p>
                    <h1 class="header-text text-[40px] text-primary">Calculate Your Mortgage</h1>

                    <form [formGroup]="form">
                        <div class="flex gap-4 xl:gap-9 flex-wrap">
                            <app-input formControlName="borrowingAmount" label="Borrowing Amount" [required]="true"
                                iconLabel="svg/question-icon.svg"
                                altIconLabel="White question mark on a gray background" iconInput="svg/euro-icon.svg"
                                altIconInput="Euro icon" inputClass="euro-icon" />

                            <app-input formControlName="purchasePrice" label="Purchase Price" [required]="true"
                                iconLabel="svg/question-icon.svg"
                                altIconLabel="White question mark on a gray background" iconInput="svg/euro-icon.svg"
                                altIconInput="Euro icon" inputClass="euro-icon" />


                            <label class="form-control w-full max-w-xs">
                                <div class="flex gap-2 items-center mb-4">
                                    <img src="svg/question-icon.svg" alt="White question mark on a gray background">
                                    <span class="text-primary text-sm md:text-base">
                                        Preferred Repayment Period
                                    </span>
                                    <span class="text-secondary text-sm md:text-base">Required</span>
                                </div>
                                <div class="custom-select" id="za6e0804_2bd0_4672-b79d_d97027f9071a"
                                    (click)="toggleShowOption()">
                                    <img class="absolute top-4 right-5" src="svg/arrow-down.svg" alt="Arrow down icon">


                                    @if (!selectedOption) {
                                    <span class="text-sm md:text-base">Select</span>
                                    } @else {
                                    <span class="text-sm md:text-base">{{ selectedOption.value }}</span>
                                    }


                                    @if (showOption) {
                                    <div class="custom-select__options">
                                        @for (option of options; track option.id; let first = $first; let last = $last)
                                        {
                                        <div class="custom-select__option custom-select__option{{ first ? '--first' : last ? '--last' : null }}"
                                            [class.custom-select__option--selected]="option === selectedOption"
                                            (click)="selectOption(option)">
                                            <div class="flex gap-2 items-center">

                                                @if (option.value === selectedOption.value) {
                                                <img src="svg/selected-option.svg" alt="Icon with a blue circle">

                                                } @else {
                                                <img src="svg/option.svg" alt="Icon with a gray circle">
                                                }

                                                <span class="custom-select__label">{{ option.value }}</span>
                                            </div>
                                        </div>
                                        }
                                    </div>
                                    }
                                </div>
                            </label>

                            <app-input formControlName="grossHouseholdIncome" label="Gross Household Income"
                                [required]="true" iconLabel="svg/question-icon.svg"
                                altIconLabel="White question mark on a gray background" iconInput="svg/euro-icon.svg"
                                altIconInput="Euro icon" inputClass="euro-icon" />

                            <app-input formControlName="interestRate" label="Interest Rate" [required]="true"
                                iconLabel="svg/question-icon.svg"
                                altIconLabel="White question mark on a gray background" iconInput="svg/percentage.svg"
                                altIconInput="Euro icon" inputClass="percentage-icon" />
                        </div>
                    </form>
                </div>
            </div>
        </article>

        <aside class="card card__aside">
            <img src="svg/calc-icon.svg" width="32" height="32" alt="Black calculator icon">

            <div class="flex flex-col gap-2 md:gap-5 mt-1 md:mt-4">
                <p class="header-text text-[16px] font-semibold text-primary">Your Mortgage Calculation</p>

                <div class="flex gap-3 items-baseline">
                    <span class="font-semibold text-[40px] text-primary ">€4,213</span>
                    <span class="text-primary text-lg">Per Month</span>
                </div>

                <div class="flex gap-4 flex-wrap">
                    <div class="card__aside--info primary-color">
                        <p class="font-semibold text-2xl ">4.5x</p>
                        <p class="text-xs">Debt To Income</p>
                    </div>

                    <div class="card__aside--info primary-color">
                        <p class="font-semibold text-2xl ">89.9%</p>
                        <p class="text-xs">Loan To Value</p>
                    </div>

                    <div class="card__aside--info primary-color">
                        <p class="font-semibold text-2xl ">30</p>
                        <p class="text-xs">Term (Years)</p>
                    </div>
                </div>

                <p class="text-tertiary text-start text-sm">Here’s our estimate of your monthly mortgage repayments.
                    In general,
                    the
                    maximum amount you can
                    borrow is 4.5x your joint income and you need to have at least 10% of the value of the property
                    saved as a deposit for lenders to accept your application.</p>
            </div>
        </aside>
    </main>

    <aside class="flex flex-col items-center gap-5 pt-5 md:p-0 md:gap-10 order-first lg:order-1">
        <button class="btn btn-circle btn-primary">
            <svg class="h-5 w-5 text-blue-100" xmlns=" http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>

        <div class="nav-tracker">
            @for (item of navigationTrackerItems; track $index) {
            <div class="nav-tracker__item nav-tracker__item--{{ $index === selectedNavigationItem ? 'active' : 'inactive' }}"
                (click)="onSelectedItem($index)">
            </div>
            }
        </div>
    </aside>
</div>