<div class="flex flex-col lg:flex-row justify-between 2xl:justify-start gap-5 xl:gap-10">
    <main class="flex items-center flex-col lg:flex-row gap-10 p-3">
        <article class="card card__main">
            <div>
                <div class="pb-10">
                    <img src="svg/logo-card-header.svg" alt="Outline of a house in blue">

                </div>

                <div class="flex flex-col gap-8">
                    <p class="header-text text-[24px] text-primary">Your Mortgage</p>
                    <h1 class="header-text text-[40px] text-primary">Calculate Your Mortgage</h1>

                    <form [formGroup]="form">
                        <div class="flex gap-4 xl:gap-9 flex-wrap">
                            <app-input formControlName="borrowingAmount" label="Borrowing Amount" [required]="true"
                                iconLabel="svg/question-icon.svg"
                                altIconLabel="White question mark on a gray background" iconInput="svg/euro-icon.svg"
                                altIconInput="Euro icon" inputClass="euro-icon" />

                            <app-input formControlName="purchasePrice" label="Purchase Price" [required]="true"
                                iconLabel="svg/question-icon.svg"
                                altIconLabel="White question mark on a gray background" iconInput="svg/euro-icon.svg"
                                altIconInput="Euro icon" inputClass="euro-icon" />

                            <app-select (optionChosen)="setpreferredRepaymentPeriod($event)" />

                            <app-input formControlName="grossIncome" label="Gross Household Income" [required]="true"
                                iconLabel="svg/question-icon.svg"
                                altIconLabel="White question mark on a gray background" iconInput="svg/euro-icon.svg"
                                altIconInput="Euro icon" inputClass="euro-icon" />

                            <app-input formControlName="interestRate" label="Interest Rate" [required]="true"
                                iconLabel="svg/question-icon.svg"
                                altIconLabel="White question mark on a gray background" iconInput="svg/percentage.svg"
                                altIconInput="Euro icon" inputClass="percentage-icon" />
                        </div>
                    </form>
                </div>
            </div>
        </article>

        <section class="card card__aside">
            <img src="svg/calc-icon.svg" width="32" height="32" alt="Black calculator icon">

            <div class="flex flex-col gap-2 md:gap-5 mt-1 md:mt-4">
                <p class="header-text text-[16px] font-semibold text-primary">Your Mortgage Calculation</p>

                <div class="flex gap-3 items-baseline max-w-[408px]">
                    <p class="font-semibold text-[40px] text-primary ellipsis">
                        {{ mortgageService.monthlyPayment() | currency : 'EUR' }}
                        <span class="text-primary text-lg font-normal">Per Month</span>
                    </p>

                </div>

                <div class="flex gap-4 flex-wrap">
                    <div class="card__aside--info primary-color"
                        [matTooltip]="mortgageService.debtToIncome().toString() + 'x'" matTooltipPosition="below">
                        <p class="font-semibold text-2xl ellipsis">{{ mortgageService.debtToIncome()}}x
                        </p>
                        <p class="text-xs">Debt To Income</p>
                    </div>

                    <div class="card__aside--info primary-color"
                        [matTooltip]="mortgageService.loanToValue().toString() + 'x'" matTooltipPosition="below">
                        <p class="font-semibold text-2xl ellipsis">
                            {{ (mortgageService.loanToValue()) | percent : '1.2'}}
                        </p>
                        <p class="text-xs">Loan To Value</p>
                    </div>

                    <div class="card__aside--info primary-color">
                        <p class="font-semibold text-2xl">{{ mortgageService.termYears() }}</p>
                        <p class="text-xs">Term (Years)</p>
                    </div>
                </div>

                <p class="text-tertiary text-start text-sm lg:text-base">Here’s our estimate of your monthly mortgage
                    repayments.
                    In general,
                    the
                    maximum amount you can
                    borrow is 4.5x your joint income and you need to have at least 10% of the value of the property
                    saved as a deposit for lenders to accept your application.</p>
            </div>
        </section>
    </main>

    <aside class="flex flex-col items-center gap-5 pt-5 md:p-0 md:gap-10 order-first lg:order-1">
        <button class="btn btn-circle btn-primary">
            <svg class="h-5 w-5 text-blue-100" xmlns=" http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>

        <div class="nav-tracker">
            @for (item of navigationTrackerItems; track $index) {
            <div class="nav-tracker__item nav-tracker__item--{{ $index === selectedNavigationItem ? 'active' : 'inactive' }}"
                (click)="onSelectedItem($index)">
            </div>
            }
        </div>
    </aside>
</div>