<div class="flex gap-4 justify-between 2xl:justify-start  xl:gap-10 h-100">
    <main class="flex items-center flex-col lg:flex-row gap-10 h-full">
        <article class="card card__main">
            <div>
                ARTICLE
            </div>
        </article>

        <aside class="card card__aside">
            <div>
                CARD ASIDE
            </div>
        </aside>

    </main>

    <aside class="flex flex-col items-center justify-between">
        <button class="btn btn-circle btn-primary">
            <svg class="h-5 w-5 text-blue-100" xmlns=" http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>

        <div class="nav-tracker flex flex-col justify-center grow">
            @for (item of navigationTrackerItems; track $index) {
            <div class="nav-tracker__item nav-tracker__item--{{ $index === selectedNavigationItem ? 'active' : 'inactive' }}"
                (click)="onSelectedItem($index)">
            </div>
            }
        </div>
    </aside>
</div>