@font-face {
    font-family: 'PolySans-Neutral';
    src: url('/src/assets/fonts/PolySans-Neutral.ttf');
}

@font-face {
    font-family: 'PolySans-Light';
    src: url('/src/assets/fonts/PolySans-Light.ttf');
}