/* Variables */
@use "./assets/styles/scss/variables" as *;

/* Tailwind CSS */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: "circular-medium";
    src: url("./assets/fonts/circular-std-medium-500.ttf");
}

/* Global styles */
html {
    background-color: #1e1e1e !important;
}

body {
    font-family: "circular-medium", sans-serif;

    @media (width > 1280px) {
        display: flex;
        justify-content: center;
    }

    @media (width < 768px) {
        width: 100vw;
        margin: 0;
    }
}

/* Variable colors */
.primary-blue {
    color: $primary-blue;
}

.text-primary {
    color: $text-primary;
}

.text-secondary {
    color: $text-secondary;
}

.text-tertiary {
    color: $text-tertiary;
}

/* Daisy UI -> Custom styles */
.btn {
    @apply rounded-full;
    @apply font-medium;
}

.btn-primary {
    @apply text-white;
    @apply bg-primary;
}

.btn-neutral {
    @apply text-primary;
}

.btn-circle {
    @apply h-[32.5px];
    @apply w-[32.5px];
    @apply min-h-fit;
}

.input,
.select {
    @apply border-none;
    @apply bg-[#f9f9f9];
    @apply h-[52px];
    @apply w-[350px];

    @media (width < 576px) {
        @apply w-full;
    }
}

.input:focus {
    outline: none;
    border: 1px solid #d1d7da;
}

/* Hide arrows of input number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.euro-icon,
.percentage-icon {
    position: absolute;
}

.euro-icon {
    top: 21px;
    left: 20px;
}

.percentage-icon {
    top: 21px;
    right: 20px;
}

.card {
    border-radius: 24px;
    background-color: #fff;
    box-shadow: 0px 10px 16px 0px #000f3314;
}

.ellipsis {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.initial-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    background-color: rgba(0, 0, 0, 0.3);

    & > span {
        position: absolute;
        inset: 0;
        margin: auto;
        width: 5rem;
        color: $primary-blue;
    }
}
